.portfolio {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  align-items: center;
  padding: 2rem;
  background-color: #04040c;
  color: #fff;
}

.portfolio h3 {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.portfolio img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 8px;
}

.portfolio a {
  display: block;
  margin-top: 1rem;
  color: #fff;
  text-decoration: none;
}

.portfolio a:hover {
  color: #ffcc00;
}

.portfolio a:first-child {
  margin-right: 1rem;
}